<clr-datagrid [ngClass]="this.settingsService.getGridHeaderTheme()" style="width: auto; align-self: center; margin-top: -50px; margin-left: -23px; margin-right: -23px;">
    <clr-dg-column [ngClass]="this.settingsService.getGridHeaderTheme()"><span style="color: #adbbc4;">Name</span></clr-dg-column>
    <clr-dg-column [ngClass]="this.settingsService.getGridHeaderTheme()"><span style="color: #adbbc4;">HotKey</span></clr-dg-column>
    <clr-dg-column [ngClass]="this.settingsService.getGridHeaderTheme()"><span style="color: #adbbc4;">URL</span></clr-dg-column>
    <clr-dg-column [ngClass]="this.settingsService.getGridHeaderTheme()"><span style="color: #adbbc4;">Actions</span></clr-dg-column>

    <clr-dg-row [ngClass]="this.settingsService.getGridTheme()" *ngFor="let site of sites">
        <clr-dg-cell [ngClass]="this.settingsService.getGridTheme()">{{site.name}}</clr-dg-cell>
        <clr-dg-cell [ngClass]="this.settingsService.getGridTheme()" >{{site.shortcut}}</clr-dg-cell>
        <clr-dg-cell [ngClass]="this.settingsService.getGridTheme()">{{truncate(site.url)}}</clr-dg-cell>
        <clr-dg-cell [ngClass]="this.settingsService.getGridTheme()" >
                <!-- <button class="btn btn-icon btn-link">
                    Edit
                </button> -->
                Edit
        </clr-dg-cell>
    </clr-dg-row>

    <clr-dg-footer [ngClass]="this.settingsService.getGridHeaderTheme()" >{{mockData.length}} shortcuts</clr-dg-footer>
</clr-datagrid>
