<!-- HEADER -->
<div class="windowsHeader" [ngStyle]="{'background-color': this.settingsService?.getHeaderTheme()}">

    <svg (click)="openSettingsModal()" class="headerSettingsIcon" xmlns="http://www.w3.org/2000/svg" width="20px" height="20px"
        viewBox="0 0 20 20" style="width: 20px; height: 20px; color: white;" [ngClass]="this.settingsService.getHeaderSettingsIconTheme()">

        <path fill="none" d="M0 0h20v20H0V0z" />
        <path d="M15.95 10.78c.03-.25.05-.51.05-.78s-.02-.53-.06-.78l1.69-1.32c.15-.12.19-.34.1-.51l-1.6-2.77c-.1-.18-.31-.24-.49-.18l-1.99.8c-.42-.32-.86-.58-1.35-.78L12 2.34c-.03-.2-.2-.34-.4-.34H8.4c-.2 0-.36.14-.39.34l-.3 2.12c-.49.2-.94.47-1.35.78l-1.99-.8c-.18-.07-.39 0-.49.18l-1.6 2.77c-.1.18-.06.39.1.51l1.69 1.32c-.04.25-.07.52-.07.78s.02.53.06.78L2.37 12.1c-.15.12-.19.34-.1.51l1.6 2.77c.1.18.31.24.49.18l1.99-.8c.42.32.86.58 1.35.78l.3 2.12c.04.2.2.34.4.34h3.2c.2 0 .37-.14.39-.34l.3-2.12c.49-.2.94-.47 1.35-.78l1.99.8c.18.07.39 0 .49-.18l1.6-2.77c.1-.18.06-.39-.1-.51l-1.67-1.32zM10 13c-1.65 0-3-1.35-3-3s1.35-3 3-3 3 1.35 3 3-1.35 3-3 3z"
        />
    </svg>

    <div class="toggle-switch headerSettingsToggle">
        <input type="checkbox" id="toggle_5" [checked]="this.tabService.editMode" (change)="this.tabService.editMode = !this.tabService.editMode">
        <label for="toggle_5"></label>
    </div>

    <svg (click)="this.settingsService.hide()" class="headerIcon" xmlns="http://www.w3.org/2000/svg" width="20px" height="20px"
        viewBox="0 0 20 20" style="width: 20px; height: 20px; color: white;" [ngClass]="this.settingsService.getHeaderIconTheme()">

        <path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z" />
        <path d="M0 0h24v24H0z" fill="none" />
    </svg>

    <svg (click)="this.settingsService.hide()" class="headerIcon" xmlns="http://www.w3.org/2000/svg" width="20px" height="20px"
        viewBox="0 0 20 20" style="width: 20px; height: 20px; color: white; right: 32" [ngClass]="this.settingsService.getHeaderIconTheme()">
        <!-- TODO change to ngclass so hover will work -->
        <path d="M0 0h24v24H0z" fill="none" />
        <path d="M7 14H5v5h5v-2H7v-3zm-2-4h2V7h3V5H5v5zm12 7h-3v2h5v-5h-2v3zM14 5v2h3v3h2V5h-5z" />
    </svg>
    <svg (click)="this.settingsService.minimize()" class="headerIcon" xmlns="http://www.w3.org/2000/svg" width="20px" height="20px"
        viewBox="0 0 20 20" style="width: 20px; height: 22px; color: white; right: 64; margin-bottom: 10px; top: -9px;" [ngClass]="this.settingsService.getHeaderIconTheme()">
        <path d="M6 19h12v2H6z" />
        <path fill="none" d="M0 0h24v24H0V0z" />
    </svg>

</div>
<div class="main-container">
    <!-- <header class="header header-6">
       
        
    </header> -->

    <div class="content-container">
        <div class="content-area" [ngClass]="this.settingsService?.getBackGroundTheme()">
            <div class="body darkGrid">
                <!-- <button style="width: 135px;" class="btn btn-primary" *ngFor="let site of (this.buttonService.getButtons() | filter: this.currentTab)" [value]="site" [style.background-color]="site.color"
                    (click)="send()">{{site.name}}</button> -->
                <!-- <app-home [guy]="currentTab"></app-home> -->
                <router-outlet></router-outlet>
            </div>
        </div>
        <!-- TODO add side toggle -->
        <nav class="sidenav" *ngIf="this.tabService.expanded" [ngClass]="this.settingsService?.getTheme()">
            <section class="sidenav-content" style="width: 166px; margin-right: -50px;">
                <a [ngClass]="isActive('All')" (click)="changeTab('All')" class="nav-link" style="width: 166px; margin-right: -50px;" [routerLink]="['/home']" [ngStyle]="{'color': this.settingsService?.getTextColor('All')}">
                    All
                </a>
                <a *ngFor="let tab of this.tabService.tabList;" [ngClass]="isActive(tab.name)" (click)="changeTab(tab.name)" class="nav-link"
                    [routerLink]="['/home']" [ngStyle]="{'color': this.settingsService?.getTextColor(tab.name)}">
                    <span class="badge badge-danger" *ngIf="this.tabService.editMode" style="color: white" (click)="this.openDeleteModal()">X</span>
                    {{tab.name}}
                </a>
                <a *ngIf="this.tabService.editMode" class="nav-link" style="border: darkslategrey; border-style:solid; border-width: 1px;"
                    (click)="this.openModal()">
                    <p style="font-size: 25pt; margin-top: 3px;">+</p>
                </a>
                <!-- <hr> -->
                <!-- <a *ngIf="this.tabService.editMode" [ngClass]="'active'" class="nav-link" style="margin-bottom: 65px; position: absolute; width:185; bottom: 0;"
                    (click)="this.editHotkeys()">
                    Edit Hotkeys
                </a> -->
                <!-- <section style="margin-left: 30px; margin-bottom: 8px; position:absolute; bottom:0;">
                    <label for="formGroupExampleInput" [ngStyle]="{'color': this.settingsService?.getTextColor('All')}">Edit</label>
                    <div class="toggle-switch">
                        <input type="checkbox" id="toggle_5" [checked]="this.tabService.editMode" (change)="this.tabService.editMode = !this.tabService.editMode">
                        <label for="toggle_5"></label>
                    </div>

    
                    <button class="btn btn-icon btn-link" style="border: none; margin: 0px; margin-left: 20px; font-size: 18px" (click)="openSettingsModal()">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" style="margin-top: 8px">
                            <path fill="none" d="M0 0h20v20H0V0z" />
                            <path fill="#868686" d="M15.95 10.78c.03-.25.05-.51.05-.78s-.02-.53-.06-.78l1.69-1.32c.15-.12.19-.34.1-.51l-1.6-2.77c-.1-.18-.31-.24-.49-.18l-1.99.8c-.42-.32-.86-.58-1.35-.78L12 2.34c-.03-.2-.2-.34-.4-.34H8.4c-.2 0-.36.14-.39.34l-.3 2.12c-.49.2-.94.47-1.35.78l-1.99-.8c-.18-.07-.39 0-.49.18l-1.6 2.77c-.1.18-.06.39.1.51l1.69 1.32c-.04.25-.07.52-.07.78s.02.53.06.78L2.37 12.1c-.15.12-.19.34-.1.51l1.6 2.77c.1.18.31.24.49.18l1.99-.8c.42.32.86.58 1.35.78l.3 2.12c.04.2.2.34.4.34h3.2c.2 0 .37-.14.39-.34l.3-2.12c.49-.2.94-.47 1.35-.78l1.99.8c.18.07.39 0 .49-.18l1.6-2.77c.1-.18.06-.39-.1-.51l-1.67-1.32zM10 13c-1.65 0-3-1.35-3-3s1.35-3 3-3 3 1.35 3 3-1.35 3-3 3z"
                            />
                        </svg>
                    </button>
                </section> -->
                <div class="windowsFooter" *ngIf="this.tabService.editMode" [ngStyle]="{'background-color': this.settingsService?.getHeaderTheme()}">
                    <a [ngClass]="this.settingsService.getEditHotkeyClass()" [routerLink]="['/hotkey']">Edit Hotkeys</a>
                </div>
            </section>
        </nav>
    </div>
</div>


<clr-modal [(clrModalOpen)]="this.modal" [clrModalSize]="'lg'" style="margin-bottom: -40px">
    <h3 class="modal-title" style="text-align: center">Add Tab</h3>
    <div class="modal-body">
        <form class="form" [formGroup]="tabForm" (ngSubmit)="onSubmit()">
            <section class="form-block">
                <!-- <label>Add Employee Address</label> -->
                <div class="form-group">
                    <label for="empname">Name</label>
                    <label for="empname" aria-haspopup="true" role="tooltip" class="tooltip tooltip-validation tooltip-sm" [class.invalid]="tabForm.get('name').invalid
                            && (tabForm.get('name').dirty || tabForm.get('name').touched)">
                        <input id="name" type="text" style="width: 40vw;" formControlName="name">

                    </label>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline" (click)="this.modal = false">Cancel</button>
                    <button class="btn btn-primary" type="submit" [disabled]="tabForm.invalid" (click)="this.modal = false" (click)="this.onSubmit()">Add</button>
                </div>
                <!-- <div class="modal-footer">
                <button class="btn btn-primary"
                    type="submit"
                    [disabled]="tabForm.invalid">Add</button></div> -->
            </section>
        </form>
    </div>
    <!-- <div class="modal-footer">
        <button type="button" class="btn btn-outline" (click)="this.modal = false">Cancel</button>
        <button type="button" class="btn btn-primary" (click)="this.modal = false">Ok</button>
    </div> -->
</clr-modal>

<clr-modal [(clrModalOpen)]="this.deletemodal" [clrModalSize]="'lg'" style="margin-bottom: -40px">
    <h3 class="modal-title" style="text-align: center">Delete Tab</h3>
    <div class="modal-body" style="text-align: center">
        <p>Are you sure you want to delete this tab?</p>
        <p>All buttons in this category will remain under the 'All' tab.</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline" (click)="this.deletemodal = false">Cancel</button>
        <button type="button" class="btn btn-primary" (click)="this.deleteTab()">Delete</button>
    </div>
</clr-modal>

<clr-modal [(clrModalOpen)]="this.settingsModal" [clrModalSize]="'lg'">
    <h3 class="modal-title" style="text-align: center">Settings</h3>
    <div class="modal-body" style="text-align: center">
        <form class="form" [formGroup]="settingsForm" (ngSubmit)="this.openSettingsModal()">
            <section class="form-block">
                <div class="form-group">
                    <label for="emptheme">Theme</label>
                    <div>
                        <select style="width: 254px;" formControlName="theme">
                            <option>Light</option>
                            <option>Dark</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="empbuttonSize">Button Size</label>
                    <label for="empbuttonSize" aria-haspopup="true" role="tooltip" class="tooltip tooltip-validation tooltip-sm">
                        <div>
                            <select style="width: 254px;" formControlName="buttonSize">
                                <option>Small</option>
                                <option>Normal</option>
                            </select>
                        </div>
                    </label>
                </div>
                <button type="button" class="btn btn-outline btn-sm" (click)="this.editHotkeys()">Edit Hotkeys</button>

                <!-- <div class="modal-footer">
                <button class="btn btn-primary"
                    type="submit"
                    [disabled]="settingsForm.invalid">Add</button></div> -->
            </section>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline" (click)="this.settingsModal = false">Cancel</button>
        <button type="button" class="btn btn-primary" (click)="onSubmitSettings()">Save</button>
    </div>
</clr-modal>