.btn {
    margin: 8px;
    border-color: gray;
    text-align: center;
  }

// #deletebtn {
//     position: absolute;
//     background: red;
//     top: -10px;
//     right: -10px;
// }

.darkMode {
  background-color: #262627;
}


// TODO make text bigger and make button smaller


.custom {
  
  margin: 5px;
}

.edit {
  border-style: dashed;
  border-color: cornflowerblue;
  border-width: 2px;
  opacity: 0.7;
}

// #container {
//   overflow: auto;
//   position: relative;
// }

// #x {
//     position: relative;
//     float: right;
//     top: -10px;
//     right: -10px;
// }

  // .addbtn {
  //   border-color: #CED3D7;
  // }