.darkGridHeader {
    background-color: #333639;
    color: #adbbc4;
    text-decoration-color: #262627;
    border-style: none;
    border-color: #2e383f;
    border-block-end-color: #2e383f;
    border-block-start-color: #2e383f;
    border-inline-end-color: #2e383f;
    border-inline-start-color: #2e383f;
    outline-color: #2e383f;
  }
  
  .darkGrid {
    border-style: none;
    background-color: #262626;
    color: #adbbc4;
    text-decoration-color: #262627;
    border-color: #2e383f;
    border-block-end-color: #2e383f;
    border-block-start-color: #2e383f;
    border-inline-end-color: #2e383f;
    border-inline-start-color: #2e383f;
    outline-color: #2e383f;
  }

  .helpLink:hover {
    fill: #7a8bcd;
  }

  .darkGridIcon {
    fill: #adbbc4;
    margin-bottom: -4px;
  }
  
  .editButton {
    fill: #606060;
    margin-bottom: -2px;
  }

  .darkGridIcon:hover {
    fill: #7a8bcd;
  }

  .editButton:hover {
    fill: #7a8bcd;
  }

  .tablefield {
    width: 100px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis ;
  }
  