<clr-datagrid [ngClass]="this.settingsService.getGridHeaderTheme()" style="width: auto; align-self: center; margin-top: -50px; margin-left: -23px; margin-right: -23px;">
    <clr-dg-column [ngClass]="this.settingsService.getGridHeaderTheme()"><span style="color: #adbbc4;">Name</span></clr-dg-column>
    <clr-dg-column [ngClass]="this.settingsService.getGridHeaderTheme()"><span style="color: #adbbc4;">HotKey</span></clr-dg-column>
    <clr-dg-column [ngClass]="this.settingsService.getGridHeaderTheme()"><span style="color: #adbbc4;">URL</span></clr-dg-column>
    <clr-dg-column [ngClass]="this.settingsService.getGridHeaderTheme()"><span style="color: #adbbc4;">Actions</span></clr-dg-column>

    <clr-dg-row [ngClass]="this.settingsService.getGridTheme()" *ngFor="let site of sites">
        <clr-dg-cell [ngClass]="this.settingsService.getGridTheme()">{{site.name}}</clr-dg-cell>
        <clr-dg-cell [ngClass]="this.settingsService.getGridTheme()" >{{site.shortcut}}</clr-dg-cell>
        <clr-dg-cell [ngClass]="this.settingsService.getGridTheme()">{{truncate(site.url)}}</clr-dg-cell>
        <clr-dg-cell [ngClass]="this.settingsService.getGridTheme()" >
                <!-- <button class="btn btn-icon btn-link">
                    Edit
                </button> -->
                <svg (click)="openEditModal()" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 22 22" class="editButton">
                    <path d="M3 17.25V21h3.75L17.81 9.94l-3.75-3.75L3 17.25zM20.71 7.04c.39-.39.39-1.02 0-1.41l-2.34-2.34c-.39-.39-1.02-.39-1.41 0l-1.83 1.83 3.75 3.75 1.83-1.83z"/>
                    <path d="M0 0h24v24H0z" fill="none"/>
                </svg>
        </clr-dg-cell>
    </clr-dg-row>

    <clr-dg-footer [ngClass]="this.settingsService.getGridHeaderTheme()" >{{mockData.length}} shortcuts</clr-dg-footer>
</clr-datagrid>
