/* You can add global styles to this file, and also import other style files */
@import 'node_modules/bulma/bulma';

body {
    -webkit-user-select: none;
}

::-webkit-scrollbar {
    display: none;
}

:not(input):not(textarea),
:not(input):not(textarea)::after,
:not(input):not(textarea)::before {
    -webkit-user-select: none;
    user-select: none;
    cursor: default;
}
input, button, textarea, :focus {
    outline: none; // You should add some other style for :focus to help UX/a11y
}

