.btn {
    margin: 8px;
    border-color: gray;
    text-align: center;
  }

.darkMode {
  background-color: #262627;
}

.helpLink:hover {
  fill: #7a8bcd;
}

// todo remove these two
:host(.homeClass) {
  margin-top: -300px;
}

.homeClass {
  margin-top: -300px;
}

.addbutton {
  width: 130px; 
  border-style: solid;
  align-self: center;
}

.custom {
  
  margin: 5px;
}

.edit {
  border-style: dashed;
  border-color: #7a8bcd;;
  border-width: 2px;
  opacity: 0.7;
}

::-webkit-scrollbar {
  display: none;
  }
  