<div style="margin-top: 22px;" [sortablejs]="this.buttonService.sortedList" [sortablejsOptions]="this.options">
    <button [ngClass]="getClass()" style="width: 130px;" class="btn btn-primary" *ngFor="let site of this.buttonService.sortedList"
        [value]="site" [style.background-color]="site.color" (click)="buttonClick(site)">{{site.name}}</button>
</div>
<div style="align-content: center; align-items: center; text-align: center; margin-top: 18px;">
    <button *ngIf="this.tabService.editMode" class="btn btn-outline btn-sm addbutton" (click)="this.openModal('addbutton')">
        <p style="font-size: 25pt; margin-top: -1px; margin-bottom: 3px; cursor: pointer;">+</p>
    </button>
</div>
<!-- Add button modal -->
<clr-modal [(clrModalOpen)]="this.modal" [clrModalSize]="'lg'" [clrModalClosable]="false">
    <h3 class="modal-title" style="text-align: center">Add Button</h3>
    <div class="modal-body">
        <form class="form" [formGroup]="buttonForm" (ngSubmit)="onSubmit()">
            <section class="form-block">
                <div class="form-group">
                    <label for="empname">Name</label>
                    <label for="empname" aria-haspopup="false" role="tooltip" class="tooltip tooltip-validation tooltip-sm" [class.invalid]="buttonForm.get('name').invalid
                            && (buttonForm.get('name').dirty || buttonForm.get('name').touched)">
                        <input id="name" type="text" formControlName="name" size="30">
                    </label>
                </div>
                <div class="form-group">
                    <label for="empurl">URL</label>
                    <label for="empurl" aria-haspopup="false" role="tooltip" class="tooltip tooltip-validation tooltip-sm" [class.invalid]="buttonForm.get('url').invalid
                            && (buttonForm.get('url').dirty || buttonForm.get('url').touched)">
                        <input id="url" type="text" formControlName="url" size="30">
                    </label>
                </div>
                <div class="form-group">
                    <label for="empcolor">Color</label>
                    <label for="empcolor" style="overflow: visible" aria-haspopup="false" role="tooltip" class="tooltip tooltip-validation tooltip-sm"
                        [class.invalid]="buttonForm.get('color').invalid
                            && (buttonForm.get('color').dirty || buttonForm.get('color').touched)">
                        <input required pattern="^#(?:[0-9a-fA-F]{3}){1,2}$" id="color" style="overflow: visible" type="text" [(colorPicker)]="color" [cpPositionRelativeToArrow]="true" [cpHeight]="'auto'"
                            [cpPosition]="'left'" [cpOutputFormat]="'hex'" formControlName="color" (colorPickerChange)="buttonForm.get('color').setValue($event)"
                            size="30" />
                    </label>
                </div>
                <div class="form-group">
                    <label for="empshortcut">Keyboard Shortcut
                        <svg xmlns="http://www.w3.org/2000/svg" class="helpLink" width="20" height="20" viewBox="0 0 24 24" style="margin: -5px; margin-left: 8px;"
                            (click)="this.settingsService.openHelpLink()">
                            <path d="M0 0h24v24H0z" fill="none" />
                            <path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm1 15h-2v-6h2v6zm0-8h-2V7h2v2z" />
                        </svg>

                    </label>
                    <label for="empshortcut" aria-haspopup="false" role="tooltip" class="tooltip tooltip-validation tooltip-sm" [class.invalid]="buttonForm.get('shortcut').invalid
                            && (buttonForm.get('shortcut').dirty || buttonForm.get('shortcut').touched)">
                        <input id="url" type="text" formControlName="shortcut" size="30">
                    </label>
                </div>
                <div class="form-group">
                    <label for="empname">Category</label>
                    <label for="empname" aria-haspopup="false" role="tooltip" class="tooltip tooltip-validation tooltip-sm" [class.invalid]="buttonForm.get('category').invalid
                                && (buttonForm.get('category').dirty || buttonForm.get('category').touched)">
                        <div>
                            <select style="width: 254px;" formControlName="category">
                                <option [selected]="this.tabService.currentTab === 'All'">All</option>
                                <option *ngFor="let tab of this.tabService.tabList">{{tab.name}}</option>
                            </select>
                        </div>
                    </label>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline" (click)="this.closeModal('addbutton')">Cancel</button>
                    <button class="btn btn-primary" [disabled]="buttonForm.invalid" (click)="this.onSubmit()">Add</button>
                </div>
            </section>
        </form>
    </div>
</clr-modal>

<!-- Edit button modal -->
<clr-modal [(clrModalOpen)]="this.buttonService.editmodal" [clrModalSize]="'lg'" [clrModalClosable]="false">
    <h3 class="modal-title" style="text-align: center">Edit Button</h3>
    <div class="modal-body">
        <form class="form" [formGroup]="buttonUpdateForm" (ngSubmit)="onUpdate()">
            <section class="form-block">
                <div class="form-group">
                    <label for="empname">Name</label>
                    <label for="empname" aria-haspopup="false" role="tooltip" class="tooltip tooltip-validation tooltip-sm" [class.invalid]="buttonUpdateForm.get('name').invalid
                            && (buttonUpdateForm.get('name').dirty || buttonUpdateForm.get('name').touched)">
                        <input id="name" type="text" size="30" formControlName="name" (colorPickerChange)="buttonForm.get('color').setValue($event)">
                    </label>
                </div>
                <div class="form-group">
                    <label for="empurl">URL</label>
                    <label for="empurl" aria-haspopup="false" role="tooltip" class="tooltip tooltip-validation tooltip-sm" [class.invalid]="buttonUpdateForm.get('url').invalid
                            && (buttonUpdateForm.get('url').dirty || buttonUpdateForm.get('url').touched)">
                        <input id="url" type="text" size="30" formControlName="url">
                    </label>
                </div>
                <div class="form-group">
                    <label for="empcolor">Color</label>
                    <label for="empcolor" aria-haspopup="false" role="tooltip" class="tooltip tooltip-validation tooltip-sm" [class.invalid]="buttonUpdateForm.get('color').invalid
                            && (buttonUpdateForm.get('color').dirty || buttonUpdateForm.get('color').touched)">
                        <input required pattern="^#(?:[0-9a-fA-F]{3}){1,2}$" id="color" type="text" size="30" [cpPositionRelativeToArrow]="true" [cpHeight]="'auto'"
                        [cpPosition]="'left'" [cpOutputFormat]="'hex'" [(colorPicker)]="color" formControlName="color" (colorPickerChange)="buttonUpdateForm.get('color').setValue($event)"
                        />
                    </label>
                </div>
                <div class="form-group">
                    <label for="empshortcut">Keyboard Shortcut
                        <svg xmlns="http://www.w3.org/2000/svg" class="helpLink" width="20" height="20" viewBox="0 0 24 24" style="margin: -5px; margin-left: 8px; cursor: pointer;"
                            (click)="this.settingsService.openHelpLink()">
                            <path d="M0 0h24v24H0z" fill="none" />
                            <path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm1 15h-2v-6h2v6zm0-8h-2V7h2v2z" />
                        </svg>
                    </label>
                    <label for="empshortcut" aria-haspopup="false" role="tooltip" class="tooltip tooltip-validation tooltip-sm" [class.invalid]="buttonUpdateForm.get('shortcut').invalid
                            && (buttonUpdateForm.get('shortcut').dirty || buttonUpdateForm.get('shortcut').touched)">
                        <input id="url" type="text" formControlName="shortcut" size="30">
                    </label>
                </div>
                <div class="form-group">
                    <label for="empname">Category</label>
                    <label for="empname" aria-haspopup="false" role="tooltip" class="tooltip tooltip-validation tooltip-sm" [class.invalid]="buttonUpdateForm.get('category').invalid
                                    && (buttonUpdateForm.get('category').dirty || buttonUpdateForm.get('category').touched)">
                        <div>
                            <select style="width: 254px;" formControlName="category">
                                <option>All</option>
                                <option *ngFor="let tab of this.tabService.tabList" [selected]="isSelected(tab.name)">{{tab.name}}</option>
                            </select>
                        </div>
                    </label>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-outline" (click)="this.closeModal('editbutton')">Cancel</button>
                    <button type="button" style="background-color: #f8435f; float: left;" class="btn btn-outline" (click)="this.onDelete()">Delete</button>
                    <button class="btn btn-primary" [disabled]="buttonUpdateForm.invalid" (click)="this.onUpdate()">Save Changes</button>
                </div>
            </section>
        </form>
    </div>
</clr-modal>