.sidenav {
  margin-left: -18px;

  width: 10vw;
}


.content-area {
  display: block;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  background-color: #CED3D7;
}

.darkMode {
  background-color: #262627;
  border-color: #262627;
}

.darkModeBackGround {
  background-color: #1E1E1E;
}

.darkModeText {
  color: white;
  text-decoration-color: white;
  flood-color: aqua;
  background-color: aqua;
  lighting-color: aqua;
}